<template>
  <view class="index-body">
	<view class="content">

      <text class="title">首页</text>

		<image class="logo" src="/static/logo.png"></image>
	</view>
    <view class="index-body-box">
      <view class="item-box">
        <text>扫码点餐快人一步</text>
        <text style="font-weight: normal;font-size: 16px">超便捷丨上菜快丨少排队</text>
        <view class="img-box">
          <image src="/static/index-img.png" @click="goOrder"></image>
        </view>
        <view class="longImg-box">
          <image src="/static/QRimg.png"></image>
        </view>

      </view>
    </view>
  </view>
</template>

<script>
	export default {
		data() {
			return {
			}
		},
		methods: {
      goOrder(){
        uni.navigateTo({
          url:"/pages/order/order"
        })
      }

		}
	}
</script>

<style scoped lang="scss">
.index-body{
  width: 100%;
  height: 100vh;
  background-color: rgba(144, 200, 61, 1);
  position: relative;
}
.index-body-box{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 365px;
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
  .item-box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text{
      color: rgba(144, 200, 61, 1);
      font-size: 36px;
      font-weight: bold;
    }
    .img-box{
      width: 130px;
      height: 130px;
      image{
        width: 100%;
        height: 100%;
      }
    }
    .longImg-box{
      width: 248px;
      height: 30px;
      image{
        width: 248px;
        height: 30px;
      }
    }
  }
}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
    position: absolute;
    top: 100px;
		height: 410rpx;
		width: 265rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}
    .title {
      font-size: 36rpx;
      color: #000;
      position: absolute;
      font-weight: bold;
      top: 60px;
    }



</style>
