<template>
  <view class="login-body">
    <view class="img-box">
      <image src="./static/logo.png"></image>
    </view>
    <view class="login-input" style="margin-top: 20px">
      <input type="text" v-model="loginfrom.username" placeholder="用户名"></input>
    </view>
    <view class="login-input">
      <input type="text" v-model="loginfrom.password" placeholder="密码"></input>
    </view>
    <view class="login-btn" @click="goIndex">登录</view>
    <view style="width: 70%;text-align: right"><text class="reg">注册账号</text></view>





    <view class="lol-box">
      <checkbox :checked="lol" @click="toggleLol"></checkbox>
      勾选即代表阅读并同息 《隐私协议》与《用户协议》
    </view>
  </view>

</template>

<script setup>
import { ref } from 'vue';
import { login } from '/api.js'; // 确保路径正确

const loginfrom = {
  username: '',
  password: ''
};
const lol = ref(false);

const toggleLol = () => {
  lol.value = !lol.value;
};

const goIndex = async () => {
  if (lol.value) {
    try {
      const result = await login(loginfrom.username, loginfrom.password);
      console.log(result);
      if (result.success){
        uni.switchTab({
          url: "/pages/index/index"
        });
      }else {
        console.log(result.message)
      }
    } catch (error) {
      console.error('未知错误:', error);
    }
  } else {
    console.log('请同意隐私政策和用户协议');
  }
};
</script>



<style scoped lang="scss">
.login-body{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(240, 204, 86, 1) 33.33%, rgba(150, 207, 66, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .img-box{
    margin-top: 160px;
    width: 195px;
    height: 195px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    image{
      width: 62%;
      height: 95%;
    }
  }
  .login-btn{
    width: 80%;
    height: 50px;
    background: linear-gradient(135deg, rgba(240, 204, 86, 1) 33.33%, rgba(150, 207, 66, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    border-width: 5px;
    border-style: solid;
    border-color: white;

    color: #454545;
    font-size: 18px;
    font-weight: bold;

  }
  .login-input{
    width: 80%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    input{
      width: 100%;
    }

  }
  .lol-box{
    position: absolute;
    bottom: 50px;
    font-size: 12px;
  }
  .reg{
    text-decoration: underline;
  }

}

</style>
