<template>
  <view class="my-body">
    <view class="my-box">
      <text class="title">我的</text>
      <view class="my-info-box">
        <view class="left-box">
          <view class="img-box">

          </view>
          <view class="text-item-box">
            <text>Joker</text>
            <text>电话:145****0055</text>
          </view>
        </view>
        <view class="right-box"></view>
      </view>
    </view>

  </view>
</template>

<script setup>

</script>


<style scoped lang="scss">
.my-body{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  .my-box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(138, 201, 61, 1) 0%, rgba(255, 255, 255, 0) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .my-info-box{
      width: 90%;
      height: 60px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-box{
        width: max-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .img-box{
          width: 52px;
          height: 52px;
          background-color: #4c89d9;
          image{
            width: 100%;
            height: 100%;
          }
        }
        .text-item-box{
          width: max-content;
          height: 42px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text{
            font-size: 16px;
          }
          text:last-child{
            font-size: 12px;
            color: rgba(128, 128, 128, 1);
          }
        }
      }
      .right-box{
        width: 18px;
        height: 18px;
        background-color: #4c89d9;
        image{
          width: 100%;
          height: 100%;
        }
      }
    }
    .title{
      margin-top: 55px;
      font-size: 18px;
      font-weight: bold;
    }

  }
}

</style>
