<template>
  <view class="order-body">
    <view class="backbox"></view>

  </view>
  <view class="item-body">

    <view class="item-box">
      <image src="/static/order/img-1.png" style="width: 100%;height: 100%"></image>

    </view>
    <view class="item-box">
      <view class="left">
        <text style="font-size: 16px">玉米客</text>
        <text style="font-size: 12px">复兴中路2店</text>
      </view>
      <view class="right">
        <image src="/static/logo.png" style="width: 30px;height: 40px"></image>
      </view>

    </view>
    <view class="item-box">
      <view class="search-item-img">
        <image src="/static/search.png" style="width: 25px;height: 25px"></image>
      </view>
      <view><input placeholder="搜索..."></input></view>

    </view>

  </view>
  <view class="title-text">点餐</view>
  <view class="back-btn">
    <image src="/static/back-img.png" style="width: 24px;height: 24px" @click="backObj"></image>
  </view>
</template>

<script setup>
const backObj = () => {
  uni.navigateBack({
    delta: 1
  })
}

</script>


<style scoped lang="scss">
.order-body{
  .backbox{
    width: 100%;
    height: 185px;
    background: linear-gradient(135deg, rgba(240, 204, 86, 1) 0%, rgba(150, 207, 66, 1) 100%);
    border-radius: 0 0 20px 20px;
  }
}
.item-body{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  .item-box{
    margin-top: 130px;
    width: 90%;
    height: 110px;
    background-color: #f3f3f3;
    border-radius: 15px;
    overflow: hidden;
  }
  .item-box:nth-child(2){
    margin-top: 0;
    height: 70px;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    .left{
      width: max-content;
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .right{
      width: 50px;
      height: 50px;
      box-shadow: 0 5px 7px 0 rgba(0,0,0,0.1);
      background-color: white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .item-box:nth-child(3){
    margin-top: 0;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .search-item-img{
      width: 35px;
      height: 80%;
      margin-right: 10px;

      border-color: #c1c1c1;
      border-style: solid;
      border-width: 0 2px 0 0;
    }
  }
}
.title-text{
  position: absolute;
  top: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;

}
.back-btn{
  position: absolute;
  top: 55px;
  left: 20px;
  width: 24px;
  height: 24px;
}

</style>
